<div class="aboutBox">
    <div class="aboutCard">
        <img src="/assets/posts/about.jpg" alt="" />
    </div>
    <div class="aboutCard">
        <h1>SOBRE NOSOTROS</h1>
        <br /><br />
        <br /><br />
        <p>
            PanaDoc es una plataforma robusta y completa de Medicina Online, permitiéndote:
            <br /><br /> - Consultas online con doctores y especialistas <br />- Compra online y geolocalización de medicinas <br />- Gestión de historias clínicas <br />- Interactuar con los demás miembros de la comunidad <br />- Y muchas cosas más!
            <br /><br /> Todo esto desde tu dispositivo electrónico de preferencia, bien sea smartphone, tablet, o computadora. <br /><br />
            <b> ¡Estaremos siempre al alcance de tu mano! </b>
        </p>
    </div>
</div>