.aboutImg{
	position: relative;
	padding-top: 60px;
	background-image: url(/assets/about.jpg);
	background-position: center top; 
	background-size: contain;
	background-repeat: no-repeat;
	height: 112%;
	top: 0;
	left: 5%;
	width: 40%;
}

.aboutCont{
	color: black;
	width: 60%;
}

.aboutCard{
	width: 30vw;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.aboutBox{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}