<div class="aboutBox">
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
  <div class="aboutCart">
    <div class="aboutImg"></div>
    <div class="aboutCont"></div>
  </div>
</div>
