<div id="footer-bottom">
  <div class="fCont">
    <div id="columnB" class="fColumn">
      <br>
      <p class="fTitle">NUESTRA RUTA</p>
      <p style="color:#ed6b06; font-weight: bold; font-size: 20px;">-</p>
      <a href="/ruta/#ads">
        <p class="fItem">¿Qué es ADS?</p>
      </a>
      <a href="/ruta/#sur">
        <p class="fItem">Desde el Sur</p>
      </a>
      <a href="/ruta/#como">
        <p class="fItem">¿Cómo trabajamos?</p>
      </a>
      <a href="/ruta/#somos">
        <p class="fItem">¿Quiénes somos?</p>
      </a>
    </div>
    <div id="columnF" class="fColumn">
      <br><a href="https://www.facebook.com/"><img class="fIcon" src="assets/fIcon.png" alt=""></a>
      <a href="https://www.instagram.com//"><img class="fIcon" src="assets/iIcon.png" alt=""></a>
      <a href="https://twitter.com/"><img class="fIcon" src="assets/tIcon.png" alt=""></a>
      <a href="https://www.linkedin.com/company/"><img class="fIcon" src="assets/lIcon.png" alt=""></a>
    </div>
  </div> <!-- .container -->

  <div class="fMob">
    <div id="rowA" class="fRow">

      <div class="fLogo"></div>
      <br>

      <div id="rowB" class="fColumn">
        <br><a href="/ruta">
          <p class="fTitle">NUESTRA RUTA</p>
        </a><br>
        <br><a href="/proyectos">
          <p class="fTitle">PROYECTOS</p><br>
        </a>
        <br><a href="/publicaciones">
          <p class="fTitle">PUBLICACIONES</p><br>
        </a>
        <br><a href="/blog">
          <p class="fTitle">BLOG</p><br>
        </a>
      </div>
      <div id="rowC" class="fRow">
        <br><a href="https://www.facebook.com/"><img class="fIcon" src="assets/fIcon.png" alt=""></a>
        <a href="https://www.instagram.com/"><img class="fIcon" src="assets/iIcon.png" alt=""></a>
        <a href="https://twitter.com/"><img class="fIcon" src="assets/tIcon.png" alt=""></a>
        <a href="https://www.linkedin.com/company/"><img class="fIcon" src="assets/lIcon.png" alt=""></a>
      </div>
      <div id="rowD" class="fRow">
        <img class="fIcon" src="assets/mIcon.png" alt="">
        <p class="fItem">info@panadoc.net</p>
      </div>
    </div> <!-- .container -->

  </div>
</div>