.bgCustom{
	background-image: url(/assets/filete.jpg);
	background-position: center top; 
	background-size: cover;
	background-repeat: no-repeat;
}

.contactBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

.contactMiniBox{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	padding-bottom: 23px;
}

.contactSocialBox{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.contactForm{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 40%;
	height: 80%;
}

.contactInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;
	align-self: flex-start;
}

.cLabel{
	color: black;
	margin: 0 0 0 0;
}

.cInput{
	position: relative;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.content{
	height: 200px;
}

.cSubmit{
	cursor: pointer;
	width: 30%;
	color: black;
    text-decoration: none !important;
	text-align: center;	
	align-self: center;
}

.cImg{
	width: 100%;
}

.cTitle{
	color: black;
	width: 85%;
	padding-top: 50px;
	height: 100px;
	top: 0;
	text-align: center;
}

.cSocial{
	padding-top:5%;
	display: inline-block;
	margin: 0 auto;
	width: 31px;
	margin-right: 10px;
}

.cTag{
	padding-top:1%;
	display: inline-block;
	color: black;
}

.iconsBox{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contactForm form{
	width: 100%;
}

.cImage{
	width: 100%;
}