<div class="contactBox">
    <div class="cTitle">
        <h1 class="fontMontLight">Contáctanos</h1>
    </div>

    <div class="contactMiniBox">
        <div class="contactForm">
            <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
                <div class="formInput">
                    <label class=" fontMontBold" for="cName"><b>Nombre:</b></label>
                    <input type="text" class="fontMontLight cInput" formControlName="cName" name="cName" />
                </div>
                <div class="formInput">
                    <label class="fontMontBold" for="cMail"><b>Correo:</b></label>
                    <input type="text" class="fontMontLight cInput" formControlName="cMail" name="cMail" />
                </div>
                <div class="formInput">
                    <label class="fontMontBold" for="cContent"><b>Mensaje:</b></label>
                    <textarea class="content fontMontLight" formControlName="cContent" name="cContent" maxlength="1500" rows="8"></textarea>
                </div>

                <button class="cSubmit fontMontBold" type="submit" (click)="sendContact()">
          Enviar
        </button>
            </form>
        </div>
        <div class="contactInfo">
            <div class="contactSocialBox">
                <div class="followBox">
                    <h2>Síguenos en nuestras redes sociales</h2>
                    <div class="iconsBox">
                        <a target="_blank" href="https://www.facebook.com/PANA-DOC-794113317586262/">
                            <img class="cSocial" src="assets/fIcon.png" alt="Panadoc Facebook" />
                        </a>
                        <a target="_blank" href="https://www.instagram.com/pana_doc/">
                            <img class="cSocial" src="assets/iIcon.png" alt="Panadoc Instagram" />
                        </a>
                    </div>
                </div>
                <div class="infoBox">
                    <h2>Escríbenos</h2>
                    <div class="miniBox">
                        <img class="cSocial" src="assets/mIcon.png" alt="Panadoc Mail" />
                        <p class="cTag fontMontBold"><b>info@panadoc.com</b></p>
                    </div>
                    <h2>Ubícanos</h2>
                    <div class="miniBox">
                        <p class="cTag fontMontBold"></p>
                    </div>
                    <img class="cImgae" src="assets/images/mapa.png" alt="Panadoc Instagram" />
                </div>
            </div>
        </div>
    </div>
</div>