/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.box {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

.boxA{
  height: 72vh;  
}

.boxB{
  height: 92vh;
}

.boxC{
  height: 50vh;
}

/* .footerBox{
  height: 10vh;
} */

.bgDark {
  background-color: #0084B6;
}

.bgLight {
  background-color: white;
}
