<nav id="panaNav">
	<div class="logoNav">
		<a href="#home"><img src="/assets/logo2.png" alt="Logo Black" class="logo"></a>
	</div>
	<ul class="navList">
		<li class="navElement fontNexaLight">
			<a href="#about">CONÓCENOS</a>
		</li>		
		<li class="navElement fontNexaLight">
			<a href="#askadoc">PREGÚNTANOS</a>
		</li>
		<li class="navElement fontNexaLight">
			<a href="#contacto">CONTÁCTANOS</a>
		</li>				
	</ul>
		<ul class="navList">
		<li class="navElement2 fontNexaLight">
			<a href="http://localhost:3400/login">INICIA SESIÓN</a>
		</li>		
		<li class="navElement2 fontNexaLight">
			<a href="http://localhost:3400/registro">REGÍSTRATE</a>
		</li>
	</ul>
</nav>

